
@charset "UTF-8";

@media  screen and (max-width: 900px){

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    }

#navbar{
    width: 100vw;
    height: 50px;
    margin: auto;
    align-items: center;
}

/*#navbar-container{
    display: flex;
    flex-direction: column;
}*/

.menu.ativo .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.menu.ativo .bar:nth-child(2){
    opacity: 0;
}

.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

#navbar-items.ativo{
    right: 0;
    align-items: center
    ;
}

#navbar-items{
    position: fixed;
    right: -100%;
    top: 50px;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    background: #063553;
    gap: -10px;
    transition: 0.3s;
}

#navbar-items li:nth-child(2){
    border-top: 1px solid #eeeeeeb2;
    border-bottom: 1px solid #eeeeeeb2;
}

.menu{
    display: block;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: white;
    margin: 5px auto; 
    transition: all 0.3s;
}

#showcase-container h2{
    font-size: 2.7rem;
}

#clients .headline{
    font-size: 2rem;
}

#features {
padding: 50px 0px;
justify-items: center;
width: 100vw;
}

#features-container {
    width: 100vw;
    display: inline;
    margin: auto;
    padding: 0px 5px ; 
    grid-row-gap: 5px;
    justify-content: space-between;
}

#features-titulo {
    grid-column-gap: 5px;
    margin: auto;
    width: 100vw;
    padding: 5px 10px ; 
}
.sec {
    font-size: 1.2rem;
}

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image{
    display: inline-block;
    width: 100%;
    height: 230px;
    margin: auto;
}

#product{
    flex-direction: column;
}

#product-container{
    width: 100%;
    flex-direction: column;
}

.iphone-x{
    display: flex;
    width: 100%;
}

#items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgLogo{
    display: flex;
    width: 100%;
}

#items .item{
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;

}

#testimonials{
    font-size: 5rem;

}

.testimonials{
    font-size: 1.1rem;
}

.curriculo{
    width: 100%;
    flex-direction: column;
    grid-column-gap: 10px;
    margin: auto;
    text-align: justify;

}

.curriculo-image{
    padding: 10px;
}

.social-image{
    width: 80%;
    display: inline-block;
    border-radius: 5px;
    margin: 8px 15px;
}

#ferramenta{
    height: 170px;
    display: flex;
    justify-content: center;

    color: #063553;
}

#ferramenta-container{
text-align: center;
}

#ferramenta-container h2{
    font-size: 3rem;    
    padding: 100px 0px;
    font-size: 1.5rem;

}

.dashboard{
    display: grid;
    align-items: center;
    font-size: 1.1rem;
    background: #eeeeee;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

#dashboard{
    width: 100%; 
    background:  white;
    padding: 10px;
    color: #063553;
    text-align: justify;
}

#dashboard-container{
    width: 100%;
    margin: auto;
    display: flex;
}

.dashboard .dashboard-image{
    height: 150px;
    width: 350px;
    margin: auto;
    margin-bottom: 5px;
}

.star {
    margin-top: 40px;
    font-size: 2rem;
    color: #063553;
    border: none;
    text-align: center;
}

}